body {
	margin: 0;
	padding: 0;
    background-color: paleturquoise;

}
#message {
    margin: 40px auto;
	width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
	font-family: 'Courier New', Courier, monospace;
    background-color: #dbdbdb;
	color: #191d37;
	border-radius: 0;
	border: 5px solid rgb(125, 111, 236);
    font-weight: bold;
    font-size: 14px;
	padding: 5px 10px;
	overflow-y: auto;
	height: 100px;
	-moz-tab-size: 4;
	-webkit-tab-size: 4;
	tab-size: 4;
}